# version 1: 
* START_DATE                          pm({START_DATE})
* END_DATE                            pm({END_DATE})
* TIMESTEP                            pm(1)
* DEBUG                               pm(0)
* XLLCORNER                           pm(641814.461413)
* YLLCORNER                           pm(4208959.360107)
* CELLSIZE                            pm(30.0)
* RANDOM_SEED                         pm(4223)
* FINAL_LAND_USE_CHANGE_MAP           M(M, 1, change)
* FINAL_TEMPORAL_MAP                  M(M, 1, summary)
* DEMAND                              graph(demand.graphs)
* BOUNDARY_MAP                        c(M, boundary.bil)
* LU_MAP                              c(M, landcover.bil)
* NOGROWTH_ZONE_MAP                   c(M, nogrowth.bil)
* W_RES_PROBMAP                       pm(1.0)
* PROBMAP_RES                         d(M, {PREFIX}probmap_res.bil)
* DENSITY_MAP_RES                     d(M, pop_density.bil)
* W_COM_PROBMAP                       pm(1.0)
* PROBMAP_COM                         d(M, {PREFIX}probmap_com.bil)
* DENSITY_MAP_COM                     d(M, emp_density.bil)
* W_OS_PROBMAP                        pm(1.0)
* U_DIFFUSE_RATE                      pm(0.2)
* U_DIFFUSE_INITSTEPS                 pm(10)
* W_RES_NEIGHBORS                     pm(0.3)
* W_RES_SPONTANEOUS                   pm(0.0001)
* W_UTILITIES_RES                     pm(1.0)
* U_DIFFUSE_RES_FLAGS                 pm(2)
* W_COM_IND_NEIGHBORS                 pm(0.03)
* W_COM_IND_SPONTANEOUS               pm(0.001)
* W_UTILITIES_COM_IND                 pm(1.0)
* U_DIFFUSE_COM_FLAGS                 pm(4)
* W_OPENSPACE_NEIGHBORS               pm(1.0)
* W_OPENSPACE_SPONTANEOUS             pm(0.001000)
* W_UTILITIES_OS                      pm(1.0)
* U_DIFFUSE_OS_FLAGS                  pm(0)
